.App {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: rgb(255, 255, 255); */
}

h1 {
  margin-top: 2rem;
}
button {
  width: auto;
  padding: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(80, 151, 221);
  color: white;
  border: none;
  border-radius: 0.8rem;
  height: 50px;
}
button:hover {
  cursor: pointer;
}
.buttons {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button:disabled {
  cursor: none;
  opacity: 0.7;
}
.balance {
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: white;
  font-size: 20px;
}
.connect-button {
  width: 10%;
  height: 70px;
}

.disclaimer {
  text-align: center;
  margin-top: 1rem;
  width: 40%;
  height: 30%;
  line-height: 2rem;
}
.disclaimer-message {
  color: red;
  font-weight: bold;
  font-family: sans-serif;
}

.faucet-div {
  height: 80%;
  width: 100%;
}
#faucet {
  min-width: 100%;
  min-height: 100%;
}

@media only screen and (max-width: 600px) {
  button {
    width: auto;
    padding: 1rem;
    padding-bottom: 1rem;
  }
  .connect-button {
    width: 30%;
    padding: 1rem;
    padding-bottom: 1rem;
    /* height: 10px; */
  }
  .item{
    width: 100%;
  }
  .menu-item {
    display: none;
  }
  .icon-div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    position: relative;
  }
  .menu {
    display: none;
  }
 .logo{
  position: absolute;
 }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .menu {
    display: flex;
  }
  .icon-div {
    display: none;
  }
  .item{
    width: 50%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 2400px) {
  .menu {
    display: flex;
  }
  .icon-div {
    display: none;
  }
  .item{
    width: 50%;
  }
}

.title {
  color: white;
}
.main-div {
  width: 100%;
}
.sub-div {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.menu-item {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 14px;
}
.menu-item li{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 0px;
  font-weight: 500;
}
.menu-item li:hover{
  background-color: #079CE0;
}
.logo {
  width: 30%;
  font-size: 24px;
  font-weight: 600;

}
/* .item {
  width: 40%;
  display: flex;
  justify-content: end;
} */
.icon {
  width: 25px;
}
.dropdown{
  position: absolute;
  top: 40px;
  width: 100%;
}
.dropdown-item{
  list-style: none;
  background-color: rgba(0, 0, 0, 0.811);
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  position: absolute;
}
.dropdown-item li{
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  border-radius: 3px;
  color: white;
  transition: background-color 0.5s;
}
.dropdown-item li:hover{
  background-color: #079CE0;
}
.connect-button{
  width: 200px;
  padding: 2px 8px;
  height: 50px;
  margin-left: 25px;
  font-weight: 700;
}
.connect-button:hover{
  background-color: black;
}