.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

h1 {
  margin-top: 2rem;
}
button {
  width: 10%;
  padding: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(80, 151, 221);
  color: white;
  border: none;
  border-radius: 0.8rem;
}
button:hover {
  cursor: pointer;
}
.buttons {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button:disabled {
  cursor: none;
  opacity: 0.7;
}
.balance {
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: white;
}
.connect-button {
  width: 10%;
  height: 70px;
}

.disclaimer {
  text-align: center;
  margin-top: 1rem;
  width: 40%;
  height: 30%;
  line-height: 2rem;
}
.disclaimer-message {
  color: red;
  font-weight: bold;
  font-family: sans-serif;
}

.faucet-div {
  height: 80%;
  width: 100%;
}
#faucet {
  min-width: 100%;
  min-height: 100%;
}

@media only screen and (max-width: 600px) {
  button {
    width: 20%;
    padding: 1rem;
    padding-bottom: 1rem;
  }
  .connect-button {
    width: 30%;
    padding: 1rem;
    padding-bottom: 1rem;
    /* height: 10px; */
  }
}

.title {
  color: white;
}
